.logo-price{
    width: calc(100% - 87%);
    margin: 0px;
}

.container-pricebox{
    display: flex;
    align-items: center;
}

.price-h1{
    color: gray;
    font-size: calc(100% - 20%);
    margin: 0px;
    padding: 2px;
}

.price-h1-2{
    color: black;
    font-size: calc(100% - 10%);
}


.price-h1-3{
    color: gray;
    font-size: calc(100% - 10%);
    padding: 0px 5px;
}


.price-chart{
    display: flex;
    align-items: center;
}