.result-box {
  display: none;
}

.container-search2 {
  padding: 50px;
}

.input-searchBar  {
  border-style: solid;
  padding: 11px;
  font-size: 20px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #e8e8e8;
  border-color: #8f6b8f;
  box-shadow: 0px 0px 4px 0px rgba(42, 42, 42, .69);
  width: calc(100% - 50%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-searchBar:focus {
  outline: none;
}

.button-searchbar{
  border-radius: 15px;
  border-width: 1px;
  padding: 11px;
  font-size: 20px;
  background: rgba(222, 222, 222, 0.69);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.button-searchbar:hover{
  background: #ffffff;
  cursor: pointer;
}

.button-searchbar:active{
  background: #ffffff;
}