.App{
    background: rgb(47,47,47);
    background: linear-gradient(90deg, rgba(47,47,47,1) 0%, rgba(54,32,65,1) 21%, rgba(36,19,59,1) 43%, rgba(37,10,57,1) 73%, rgba(43,2,46,1) 100%);
}

.container-app{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
